<!DOCTYPE html>
<html>
<head>
    <h3>PLEASE SIGN UP!!!!!!!! </h3>
    <style></style>
</head>
<body>
    <form method = 'GET', method = 'POST'>
    <label>
    USERNAME:
    <input type = "text" name = "username" value = '{{username}}'/><br/><br/>

    </label>

    <label>
    PASSWORD:
    <input type = "password" name = "password"/><br/><br/>
   
    
    </label>
    <label>
    VERIFY PASSWORD:
    <input type = "password" name = "verification"/><br/><br/>
    </label>
    <label>
    EMAIL:
    <input type = "text" name = "email" default = 'None'/><br/><br/>
    </label>
    <label>
    Submit:
    <input type = "submit" name = "submit" value = 'submit'/>
    </label>
    </form>
    
</body>

</\html>