<!DOCTYPE html>
<html>
<head>
    <h3>PLEASE SIGN UP!!!!!!!! </h3>
    <style>
        .error{color: red;}
        .p{
            display: inline;
        }
    </style>
</head>
<body>

    <form action = '/validate_form' method = 'post'>
        
    <label for = 'username'>USERNAME:</label>
    
    <input id = 'username' type = "text" name = "username" default = />
    {%if user_error == ''%}
    {{username}}
    {%endif%}
    {%if user_error != ''%}
    
    <p class="error"> {{user_error}} </p>
    {%endif%}

    <br/><br/>
    
    
    <label for = "password">PASSWORD: </label>
    <input id = 'password' type = "password" name = "password" default = 'password'/>
    {%if pass_error != ''%}

    <p class= 'error'> {{pass_error}} </p>
    {%endif%}
    <br/><br/>
    <label for = 'verification'>VERIFY PASSWORD:</label>
    <input id = 'verification' type = "password" name = "verification"/>
    {%if verify_error != ''%}
    <p class = 'error'> {{verify_error}} </p>
    {%endif%}
    <br/><br/>
    
    <label for ='email'>EMAIL: </label>
    
    <input id ='email' type = "text" name = "email" default = 'email' />
    {%if email_error == ''%}
    {{email}} 
    {%endif%}
    {%if email_error != ''%}
    <p class='error'> {{email_error}} </p>
    {%endif%}
    <br/><br/>
    <input type = "submit"/>
    
    </form>
    
</body>

</html>